.login-container {
    padding: 20px;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container h2 {
    margin-bottom: 10px;
    color: #4185F6;
    align-self: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding:20px;
}

.login-container form input {
    margin-bottom: 10px;
    padding: 5px;
}

.login-container form label {
    font-weight: bold;
    color: black;
    padding-bottom: 1vh;
}

.login-container form button {
    padding: 10px 20px;
    background-color: #9CFFD1;
    color: black;
    border: none;
    cursor: pointer;
    width: 30%;
    align-self: center;
    font-weight: bold;
    border-radius: 20px;
}

.login-container form button:hover {
    background-color: #4185F6;
}
